*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
}

header, main {
    background-color: white;
}

header {
    height: 80px;
    padding: 10px 0;
    line-height: 40px;
}

header img {
    vertical-align: bottom;
    height: 100%;
    margin: 0 10px;
}

header span{
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    
}

main {
    width: 70%;
    margin: 30px auto 15px;

}

.button {
    display: inline-block;
    border-radius: 10%;
    padding: 5px 10px;
}

#add-task-button {
    color: white;
    background-color: #47ADF1;
}

#add-section-button {
    color: lightgray;
    
    border: 1px solid lightgray;
}

.container{
    padding: 10px 40px;
    
}

.main-header{
    border-bottom: 1px solid lightgray;
}