*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
}

header, main {
    background-color: white;
}

header {
    height: 80px;
    padding: 10px 0;
    line-height: 40px;
}

header img {
    vertical-align: bottom;
    height: 100%;
    margin: 0 10px;
}


header span{
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    
}